.articles {
   position: absolute;
   top: 800px;
   width: 70%;
   margin: auto;
   left: 0; right: 0;
}

.article {
   margin-bottom: 50px;
}

.article-content-p {
   /* min-height: 200px; */
   font-size: 24px;
   margin-left: 20px;
   margin-top: 10px;
}

.article img {
   height: 100%;
}

.article-content {
   display: flex;
   margin-top: 10px;
}