nav {
   position: fixed;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
   width: 100%;
   background-color: #0f3043;
   height: 50px;
   align-items: center;
   z-index: 10;
}

.nav-icons {
   display: flex;
   align-items: center;
   justify-content: space-around;
   grid-column: 2;
}

.nav-icons img {
   height: 40px;
   width: fit-content;
   /* padding-left: 1vw;
   padding-right: 1vw; */
   transition: transform .4s;
}

.nav-icons img:hover {
   transform: scale(1.1);
}

.lo-text {
   text-align: center;
   font-size: 18px;
}

.nav-subpages {
   padding-bottom: 5px;
   color: #d5ecd4;
   font-size: 28px;
   display: flex;
   justify-content: space-around;
}

.nav-sub {
   transition: all .5s;
   text-decoration: none;
}

.nav-sub-active {
   transition: all .5s;
   text-decoration: none;
   transform: scale(1.15);
   color: #F6F930;
}

.nav-sub:hover {
   transform: scale(1.15);
   color: #F6F930;
}

.nav-options button {
   background: none;
   border: none;
   font-size: 20px;

   width: 30px;
   margin: 5px;
   cursor: pointer;
}

#contrast-change::before {
   content: "\25D0";
}

@media only screen and (max-width: 1370px) {
   .lo-text {
      font-size: 16px;
   }
   nav {
      grid-template-columns: 0.5fr 1fr 1fr 3fr 1fr 0.5fr;
   }
}

@media only screen and (max-width: 1120px) {
   nav {
      grid-template-columns: 0.1fr 1fr 1fr 3fr 1fr 0.1fr;
   }
   .nav-icons {
      grid-column: 2;
   }
}

@media only screen and (max-width: 1000px) {
   nav {
      grid-template-columns: 1fr 1fr 3fr 1fr;
   }   
   .nav-icons {
      grid-column: 1;
   }
}

@media only screen and (max-width: 960px) {
   nav {
      grid-template-columns: 1fr 1fr 2.5fr 1fr;
   }
}

@media only screen and (max-width: 880px) {
   .lo-text {
      display: none;
   }
   nav {
      grid-template-columns: .1fr 1fr 2fr 1fr .1fr;
   }
   .nav-icons {
      grid-column: 2;
   }
}

@media only screen and (max-width: 675px) {
   nav {
      grid-template-columns: .1fr .5fr 1fr 1fr .1fr;
   }
   .nav-sub-active {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   nav {
      grid-template-columns: .5fr 1fr 1fr;
   }
   .nav-icons {
      grid-column: 1;
   }
}

@media only screen and (max-width: 400px) {
   nav {
      grid-template-columns: 1fr 2fr;
   }
   .nav-options {
      display: none;
   }
}