nav {
   position: fixed;
   display: flex;
   width: 100%;
   background-color: #0f3043;
   padding: 10px;
   height: 85px;
   align-items: center;
   z-index: 10;
}

.nav-links {
   display: flex;
   align-items: center;
}

.nav-icons {
   display: flex;
}

.nav-icons img {
   margin: 15px;
   width: 48px;

   transition: transform .4s;
}

.nav-icons img:hover {
   transform: scale(1.2);
}

.main-logo {
   margin-left: 5vw;
   margin-right: 10vw;
   height: 70px;
}

.nav-subpages {
   position: absolute;
   right: 20vw;
   width: 25vw;
   padding-bottom: 5px;
   color: #d5ecd4;
   font-size: 34px;
   display: flex;
   justify-content: space-between;
}

.nav-sub {
   transition: all .5s;
   text-decoration: none;
}

.active {
   transform: scale(1.15);
   color: #F6F930;
}

.nav-sub:hover {
   transform: scale(1.15);
   color: #F6F930;
}