.slider {
   position: absolute;
   top: 200px;
   left: 0; right: 0;
   width: 70%;
   margin: auto;
}

.image {
   position: absolute;

   width: 600px; height: 400px;
   transition: all .4s;
}

.disactive {
   opacity: 0;
}

.description {
   margin-left: 650px;
   font-size: 22px;
   height: fit-content;
   position: absolute;
   margin-top: auto; margin-bottom: auto;

   transition: font-size .4s;
}

.description h1 {
   text-align: left;
}